<% content_for :title do %>
  edit for <%=params[:id]%>
<%end%>
<div>
  <span>editor file</span>
  <form action="/edit/<%=params[:id]%>.html" method="post">
  <textarea class="span12" name="contents" rows="15"></textarea>
  <input type="submit" value="confirm" />
  <input type="reset" value="reset"/>
</form>
</div>
