<% content_for :title do %>
  <title> edit for <%=params[:id]%></title>
<%end%>
<div>
  <span>editor file</span>
  <form action="/edit" method="post">
    <span>Title</span><input type="text" id="title" name="title"/></br>
  <span>URL</span><input type="text" id="url" name="url" />
  <textarea class="span12" name="contents" rows="15"></textarea>
  <input type="submit" value="提交" />
  <input type="reset" value="重置"/>
</form>
</div>
