<% content_for :title do%>
  title for test
<% end %>
<div class="row">

<div class="span8">
  <% @pages.reverse.each do |page| %>
  <article>
  <h1><%=page[:title]%></h1>
    <div><%=page[:created] %></div>
    <p><%=page[:contents]%><p>
  </article>
  <%end%>
</div>
<div class="span4">
  <ul class="nav nav-list unstyled">
    <li class="unstyled">list one</li>
    <li class="unstyled">list two</li>
    <li class="unstyled">list three</li>
  </ul>
</div>
</div>
