<% content_for :title do%>
  <title>test</title>
<% end %>
<div class="row">

<div class="span9">
  <% @pages.reverse.each do |page| %>
  <article>
  <h3><%=page[:title]%></h3>
    <div class="subtitle"><%=page[:created].strftime('%Y-%m-%d %I:%M') %></div>
    <p><%=@markdown.render(page[:contents])%><p>
  </article>
  <%end%>
</div>
<div class="span3">
  <ul class="nav nav-list unstyled">
    <li class="unstyled">测试文章测试文章测试文章测试问</li>
    <li class="unstyled">list two</li>
    <li class="unstyled">list three</li>
  </ul>
</div>
</div>
