<!DOCTYPE HTML>
<html lang="cn">
	<head>
    <%=yield_content :title%>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css" type="text/css" meida="screen"/>
    <link rel="stylesheet" href="/css/common.css" type="text/css" meida="screen"/>
	</head>
	<body>
		<div class="container">
            <ul class="nav nav-pills">
               <li class="active"><a href="/">Home</a></li>
               <li><a href="#">Blog</a></li>
               <li><a href="#">Photos</a></li>
               <li><a href="#">About</a></li>
            </ul>
	    </div>
    	<div class="container">
		   <div><%=yield %></div>
		</div>
        <footer class="footer">
          <div class="container">
            <ul class="footer-links">
              <li><a href="http://www.bfb56.com" target="_blank">百分百物流</a></li>
              <li class="muted">·</li>
              <li><a href="http://www.lixiumiao.cn" target="_blank">美丽心情</a></li>
            </ul>
          </div>
        </footer>
		<script type="text/javascript" href="bootstrap/js/bootstrap.js"></script>
  </body>
</html>
