<!DOCTYPE HTML>
<html lang="cn">
	<head>
    <title><%=yield_content :title%></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/css/common.css" type="text/css" meida="screen"/>
		<link rel="stylesheet" href="/bootstrap/css/bootstrap.css" type="text/css" meida="screen"/>
	</head>
	<body>
		<div class="container">
		<ul class="nav nav-pills">
		   <li class="active"><a href="#">Home</a></li>
		   <li><a href="#">Blog</a></li>
		   <li><a href="#">Photos</a></li>
		   <li><a href="#">About</a></li>
		</ul>
	  </div>
    	<div class="container">
		   			<div> <%=yield %></div>
		</div>
    <div class="container"
		<footer class="modal-footer span12">
			<ul class="unstyled">
				<li class="unstyled">a</li>
				<li class="unstyled">a</li>
				<li class="unstyled">a</li>
				<li class="unstyled">a</li>
			</ul>
		</footer>
  </div>
		<script type="text/javascript" href="bootstrap/js/bootstrap.js"></script>
  </body>
</html>
